<header class="site-header">
    <div class="wrapper">
        <div class="site-title">
            <a href="{{ site.baseurl | default: '/' }}">
                <h1>{{ site.title }}</h1>
            </a>
            <p class="site-subtitle">{{ site.description }}</p>
        </div>
        <nav class="site-nav">
            <ul>
                <li><a href="{{ site.baseurl | default: '/' }}">Home</a></li>
                <li><a href="{{ site.baseurl | default: '/' }}/about">About</a></li>
                <li><a href="{{ site.baseurl | default: '/' }}/archive/">Archive</a></li>
                <li><a href="{{ site.baseurl | default: '/' }}/contact">Contact</a></li>
                <li><a href="{{ site.baseurl | default: '/' }}/privacy">Privacy</a></li>
            </ul>
        </nav>
    </div>
</header>
